<% if @product.errors.any? %>
	<ul>
		<% @product.errors.full_messages.each do |error_msg| %>
			<li> <%= error_msg %> </li>
			<% end %>
			</ul>
			<% end %>



<h1> Enter New Product </h1>

<%= form_for [@user, @product] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :minimum_bid %>
	<%= f.number_field :minimum_bid %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<br>
	<%= f.submit "Add Product" %>

<% end %>

<%= link_to("View all products", user_products_path(@user)) %>